<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WMCAAnimationGroup.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>460DECD31E229A380057A068</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>460DECEC1E229A380057A068</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>460DECF71E229A380057A068</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
